<ng-container *ngIf="label != null">
  <label for="usernameInput" class="form-label">
    {{ label }} <ng-container *ngIf="isRequired()">*</ng-container>
  </label>
</ng-container>

<div class="gallery-container">
  @if(!hasReachedMax){
  <input
    class="form-control custom-input"
    type="file"
    placeholder="Choose photos"
    (change)="onFileSelected($event)"
    accept="image/*"
    [multiple]="multiple"
  />
  } @if(allowWarning){
  <p *ngIf="imageCount() >= maxCount" class="warning">
    You can upload up to {{ maxCount }} image{{ maxCount > 1 ? "s" : "" }} only.
  </p>
  }

  <div class="image-grid">
    <!-- Images that have already been uploaded -->
    @if(this.images().length > 0){
    <div *ngFor="let img of images(); let imageIndex = index">
      <div class="image-item-wrapper">
        <div class="image-item">
          <img [src]="img" alt="Uploaded Image" />
          <button
            class="delete-icon animate"
            type="button"
            (click)="deleteExistingImage(imageIndex)"
          >
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    }
    <!-- New, yet to upload images -->
    @if(this.selectedImagesLocalUrls.length > 0){
    <div *ngFor="let img of selectedImagesLocalUrls; let imageIndex = index">
      <div class="image-item-wrapper">
        <div class="image-item">
          <img [src]="img" alt="Uploaded Image" />
          <button
            class="delete-icon animate"
            type="button"
            (click)="deleteLocalImage(imageIndex)"
          >
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
