<ng-container *ngIf="label != null">
  <label [for]="uniqueId" class="form-label">
    {{ label }} <ng-container *ngIf="isRequired()">*</ng-container>
  </label>
</ng-container>

<ng-container *ngIf="type === 'textarea'; else showDefault">
  <textarea
    [id]="uniqueId"
    [formControl]="formControlInput()"
    class="form-control"
    [placeholder]="placeholder"
    [required]="isRequired()"
    [rows]="rows"
    [ngClass]="{ error: showError }"
  ></textarea>
</ng-container>
<ng-template #showDefault>
  <input
    [id]="uniqueId"
    [formControl]="formControlInput()"
    [type]="type"
    [placeholder]="placeholder"
    class="form-control"
    [required]="isRequired()"
    [ngClass]="{ error: showError }"
  />
</ng-template>
<ng-container *ngIf="showError">
  <div>
    <span class="error-message">{{ getMessage() }}</span>
  </div>
</ng-container>
