@if (label != null) {
  <label [for]="uniqueId" class="form-label">
    {{ label }} @if (isRequired()) {
    *
  }
</label>
}

@if (type === 'textarea') {
  <textarea
    [id]="uniqueId"
    [formControl]="formControlInput()"
    class="form-control"
    [placeholder]="placeholder"
    [required]="isRequired()"
    [rows]="rows"
    [ngClass]="{ error: showError }"
    (change)="inputChangeEvent.emit()"
  ></textarea>
} @else {
  <input
    [id]="uniqueId"
    [formControl]="formControlInput()"
    [type]="type"
    [placeholder]="placeholder"
    class="form-control"
    [required]="isRequired()"
    [ngClass]="{ error: showError }"
    (change)="inputChangeEvent.emit()"
    />
  }
  @if (showError) {
    <div>
      <span class="error-message">{{ getMessage() }}</span>
    </div>
  }
