/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading-spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error {
  border: 2px solid #f01e07 !important;
  background-color: #fdecea;
  color: #c0392b;
}

.error:focus {
  border: 2px solid #f01e07 !important;
  box-shadow: 0 0 5px 3px #e74c3c;
}

.error-message {
  color: #ec402d;
  font-size: 0.875rem;
  margin-top: 4px;
}

.cities-loader {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: start;
  height: 100%;
  width: 100%;
}

.list-container {
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

.image-thumb-nail {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
