::ng-deep .mat-mdc-tab-group {
  color: white !important;
  overflow: hidden !important;
  width: 100% !important;
}

::ng-deep .mdc-tab--active {
  background-color: purple !important;
  border-radius: 8px 8px 0 0;
  span {
    color: #fff !important;
  }
}
