<div class="thread-container">
  <div class="row">
    <div class="col-9 d-flex gap-2 align-items-center justify-content-start">
      <img
        [src]="recipientPhotoUrl() || './assets/images/user-icon.jpeg'"
        class="image-thumb-nail"
        alt="recipientPhotoUrl"
      />
      <strong class="heading-title" (click)="onOpenProfile()">{{
        username() | titlecase
      }}</strong>
      @if(isOnline()){
      <i class="fa fa-circle online-icon" aria-hidden="true"></i>
      }
    </div>
    <div class="col-3 d-flex align-items-start justify-content-end">
      <strong
        (click)="onCloseMessageThread()"
        class="close-btn"
        matTooltip="Close"
        matTooltipPosition="above"
        ><i class="fa fa-times" aria-hidden="true"></i
      ></strong>
    </div>
  </div>
  <hr />

  <div #threadBody class="thread-body">
    @if(messageService.messageThread() && messageService.messageThread().length
    > 0){ @for (message of messageService.messageThread(); track message.id) {
    @if(message.senderUsername === currentUser){
    <div class="row justify-content-end mb-3">
      <div class="sender-card">
        <p class="mb-0">{{ message.content }}</p>
        <div class="text-end">
          @if(message.messageSent){
          <p class="mb-0 message-state">
            {{ message.messageSent | timeAgo }}
            @if(message.dateRead){
            <app-double-check></app-double-check>
            } @else{
            <i class="fa fa-check" aria-hidden="true"></i>
            }
          </p>
          }
        </div>
      </div>
    </div>
    }@else {
    <div class="row justify-content-start align-items-end mb-3">
      <img
        [src]="recipientPhotoUrl() || './assets/images/user-icon.jpeg'"
        class="chat-image-thumb-nail"
        alt="recipientPhotoUrl"
      />
      <div class="col-10 recipient-card">
        <p class="mb-0">{{ message.content }}</p>
        <div class="text-end">
          @if(message.messageSent){
          <p class="mb-0 message-state">
            {{ message.messageSent | timeAgo }}
          </p>
          }
        </div>
      </div>
    </div>
    } }}
  </div>
  <hr />
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      [formControl]="newMessageControl"
      [placeholder]="'Message ' + (username() | titlecase)"
      aria-describedby="basic-addon2"
      (keydown.enter)="sendMessage()"
    />
    <button
      class="input-group-text send-button"
      id="basic-addon2"
      (click)="sendMessage()"
    >
      Send
    </button>
  </div>
</div>
