.thread-container {
  background-color: rgb(32, 31, 32);
  height: 80%;
  padding: 20px;
  border-radius: 8px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.sender-card {
  padding: 10px 10px;
  width: auto;
  min-width: 25%;
  max-width: 80%;
  gap: 0;
  background-color: rgb(185, 185, 185);
  border-radius: 8px 8px 0 8px;
  color: black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.message-state {
  font-size: 10px;
}

.recipient-card {
  width: auto;
  min-width: 25%;
  max-width: 80%;
  padding: 10px 10px;
  background-color: azure;
  border-radius: 8px 8px 8px 0;
  color: black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.thread-body {
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
  align-items: start;
  justify-content: start;
  overflow-y: auto;
  overflow-x: hidden;
  bottom: 0px;
}

.chat-image-thumb-nail {
  height: 25px;
  width: 48px;
  border-radius: 50%;
}

.close-btn:hover {
  cursor: pointer;
}
.send-button:hover {
  cursor: pointer;
}
