mat-paginator {
  background-color: #060606;
  color: #adafae !important;
}

::ng-deep mat-select {
  color: #adafae !important;
}

.table {
  cursor: pointer;
  overflow: hidden;
}
.message-thread-container {
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .message-thread-container {
    width: 80%;
  }
}

.container,
mat-drawer-container {
  height: 80vh !important;
}
