<fieldset [disabled]="isDisabled()">
  @if (label != null) {
    <label [for]="uniqueId" class="form-label">
      {{ label }} @if (isRequired()) {
      *
    }
  </label>
}

<mat-slider [id]="uniqueId" [min]="min" [max]="max" showTickMarks discrete>
  <input
    [formControl]="minFormControl()"
    (change)="minInputChangeEvent.emit()"
    [value]="18"
    matSliderStartThumb
    />
    <input
      [formControl]="maxFormControl()"
      (change)="maxInputChangeEvent.emit()"
      [value]="30"
      matSliderEndThumb
      />
    </mat-slider>
  </fieldset>
