.container{
    width: 80%;
    padding-inline: 5%;
    padding-top: 34px;
    padding-bottom: 34px;
    background-color: rgb(32, 31, 32);
    height: auto !important;
    min-height: 100%;
}

.cities-loader{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
    height: 100%;
    width: 100%;
}