<div class="container">
  <h1 class="text-center">Edit Profile</h1>
  <hr />
  <form>
    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="usernameInput" class="form-label">Username</label>
        <input type="text" class="form-control" id="usernameInput" />
      </div>
      <div class="mb-3 col-md-6">
        <label for="usernameInput" class="form-label">Known As</label>
        <input type="text" class="form-control" id="usernameInput" />
      </div>
    </div>

    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="usernameInput" class="form-label">Gender</label>
        <input type="text" class="form-control" id="usernameInput" />
      </div>
      <div class="mb-3 col-md-6">
        <label for="usernameInput" class="form-label">Date of Birth</label>
        <input type="text" class="form-control" id="usernameInput" />
      </div>
    </div>

    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="usernameInput" class="form-label">Country</label>
        <input type="text" class="form-control" id="usernameInput" />
      </div>
      <div class="mb-3 col-md-6">
        <label for="usernameInput" class="form-label">City</label>
        <input type="text" class="form-control" id="usernameInput" />
      </div>
    </div>

    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="usernameInput" class="form-label">Description</label>
        <input type="text" class="form-control" id="usernameInput" />
      </div>
      <div class="mb-3 col-md-6">
        <label for="usernameInput" class="form-label">Interests</label>
        <input type="text" class="form-control" id="usernameInput" />
      </div>
    </div>

    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="usernameInput" class="form-label">Looking For</label>
        <input type="text" class="form-control" id="usernameInput" />
      </div>
      <div class="mb-3 col-md-6">
        <label for="usernameInput" class="form-label">Uploaded Photos</label>
        <input type="text" class="form-control" id="usernameInput" />
      </div>
    </div>
    <hr />
    <div class="row justify-content-between">
      <button
        type="submit"
        class="btn btn-secondary col-sm-3 col-md-2 mb-2 mb-sm-0"
        routerLink="/members"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary col-sm-3 col-md-2">
        Submit
      </button>
    </div>
  </form>
</div>
