<ng-container *ngIf="!isLoading && users && pagination">
  <div class="d-flex align-items-center gap-4 mt-5">
    <div class="d-flex align-items-center gap-2">
      <label class="pr-2" for="genderFilter">Preferred Gender: </label>
      <app-form-select-field
        [formControlInput]="genderFormControl"
        [options]="GenderOptions"
        placeholder="Select gender...."
        (inputChangeEvent)="handlePreferredGenderSelectEvent()"
        id="genderFilter"
      ></app-form-select-field>
    </div>

    <div class="d-flex align-items-center gap-2">
      <label class="pr-2" for="ageFilter">Age Range: </label>
      <app-form-range-selector
        [minFormControl]="minAgeFormControl"
        [maxFormControl]="maxAgeFormControl"
        [min]="18"
        [max]="80"
        (minInputChangeEvent)="handleAgeRangeChangeEvent()"
        (maxInputChangeEvent)="handleAgeRangeChangeEvent()"
      ></app-form-range-selector>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-2">
      <label>Location: </label>
    </div>
    <div class="mb-3 col-md-5">
      <app-form-select-field
        [formControlInput]="countryFormControl"
        [options]="Countries"
        (inputChangeEvent)="handleCountryInputChange()"
        placeholder="Select a country..."
        optionIdentifier="name"
        trackKey="id"
      ></app-form-select-field>
    </div>

    <div class="mb-3 col-md-5">
      <ng-container *ngIf="!isFetchingCities; else showLoadingCities">
        <ng-container *ngIf="enableCityFreeTextInput; else showSelectField">
          <app-form-input-field
            [formControlInput]="cityFormControl"
            placeholder="Enter city name"
          ></app-form-input-field>
        </ng-container>
        <ng-template #showSelectField>
          <app-form-select-field
            [formControlInput]="cityFormControl"
            [options]="Cities"
            [isDisabled]="this.countryFormControl.invalid"
            placeholder="Select a city..."
            optionIdentifier="name"
            trackKey="id"
          ></app-form-select-field>
        </ng-template>
      </ng-container>
      <ng-template #showLoadingCities>
        <div class="cities-loader text-start">
          <p>Loading...</p>
        </div>
      </ng-template>
    </div>
  </div>
  <hr />
  <div class="row mb-4">
    @for(user of users; track user.id){
    <div class="mt-4 col-6 col-md-5 col-lg-4 col-xl-3">
      <app-member-card [user]="user"></app-member-card>
    </div>
    }
  </div>
  <hr />
  <mat-paginator
    [length]="pagination.totalItems"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageNumber - 1"
    [pageSize]="pageSize"
    aria-label="Select page"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
</ng-container>
