<fieldset [disabled]="isDisabled()">
  @if (label != null) {
    <label [for]="uniqueId" class="form-label">
      {{ label }} @if (isRequired()) {
      *
    }
  </label>
}

<select
  [formControl]="formControlInput()"
  class="form-select"
  [id]="uniqueId"
  (change)="onInputChange()"
  [ngClass]="{ error: showError }"
  >
  <option ngValue="" disabled selected>{{ placeholder }}</option>
  @for (option of options(); track trackByFn($index, option)) {
    <option
      [ngValue]="option"
      >
      {{
      (optionIdentifier == null ? option : option[optionIdentifier])
      | titlecase
      }}
    </option>
  }
</select>
</fieldset>
@if (showError) {
  <div>
    <span class="error-message">{{ getMessage() }}</span>
  </div>
}
