<fieldset [disabled]="isDisabled()">
  <ng-container *ngIf="label != null">
    <label for="usernameInput" class="form-label">
      {{ label }} <ng-container *ngIf="isRequired()">*</ng-container>
    </label>
  </ng-container>

  <select
    [formControl]="formControlInput()"
    class="form-select"
    id="inputGroupSelect01"
    (change)="onInputChange()"
    [ngClass]="{ error: showError }"
  >
    <option ngValue="" disabled selected>{{ placeholder }}</option>
    <option
      *ngFor="let option of options(); trackBy: trackByFn"
      [ngValue]="option"
    >
      {{ optionIdentifier == null ? option : option[optionIdentifier] }}
    </option>
  </select>
</fieldset>
<ng-container *ngIf="showError">
  <div>
    <span class="error-message">{{ getMessage() }}</span>
  </div>
</ng-container>
